/* General style definitions */

body 
{	background-color: black;
	color:#000000;
	font: 10pt/120% "Trebuchet MS", Tahoma, Arial;
	margin:0px;
	padding:0px;
	height:100%;
	border:none;
}

p, td
{
	text-align: left;
}

img
{
	border-width: 0px;
	border-style: none; 
}

img.commented
{
	border-color: #94ade0; 
	border-width: 4px;
}

a:link
{
	color:#b00000; 
	text-decoration:none;
}

a:hover 
{
	text-decoration:underline;
}

a:visited
{
	color:#b00000; 
	text-decoration: none;
}

h3
{
	text-decoration: underline;
}


/* Column color definitions */

.rowColor0
{
	background-color: #e0e0e0;
}

.rowColor1
{
	background-color: #cccccc;
}

.rowColor2
{
	background-color: #aaaaaa;
}

.rowColorSelected
{
	background-color: #ff8888;
}


table#event
{
	border-collapse: collapse;
}

table#event tr td
{
	padding: 3px 1px 3px 1px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #222;
}

table#event tr.topborder td
{
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #777;
}

table#event tr.indoor_men,
table#event_legend tr td.indoor_men
{
	background-color: #aecde8;
}

table#event tr.game_men,
table#event_legend tr td.game_men
{
	background-color: #5e9bcf;
}

table#event tr.indoor_women,
table#event_legend tr td.indoor_women
{
	background-color: #ffadad;
}

table#event tr.game_women,
table#event_legend tr td.game_women
{
	background-color: #ff6666;
}

table#event tr.indoor_women2,
table#event_legend tr td.indoor_women2
{
	background-color: #cf8af3;
}

table#event tr.game_women2,
table#event_legend tr td.game_women2
{
	background-color: #ba4cf3;
}

table#event tr.beach,
table#event_legend tr td.beach
{
	background-color: #ffe384;
}

table#event tr.misc,
table#event_legend tr td.misc
{
	background-color: #cccccc;
}

table#event tr.indoor_kids,
table#event_legend tr td.indoor_kids
{
	background-color: #42b33a;
}

table#event tr.external,
table#event_legend tr td.external
{
	background-color: #eeeeee;
}

table#event tr#event:hover
{
	background-color: #dddddd;
}


/* ranking.php style definitions */

table.tvvparsed,
table.tvvparsed a,
table.tvvparsed font
{
	font-size: 8pt;
}

